@charset "utf-8";
/* CSS Document */


body {
    background-color: lightgrey;
	text-align: center;
	font-size: 34px;
}
h1 {
    color: black;
}
p {
    color: black;
}

table {
    font-family: arial, sans-serif;
    width: 100%;
}

td, th {
    border: 4px solid black;
    text-align: left;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: lightgrey;
}